# Exploring the trajectory of a single patient

### Importing Python libraries

 We first need to import some tools for working with data in Python.
    - NumPy is for working with numbers
    - Pandas is for analysing data
    - MatPlotLib is for making plots
    - Sqlite3 to connect to the database

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

### Connect to the database

In [6]:
conn = sqlite3.connect('C:/Users/mk5414/desktop/mimicdata.sqlite')

In [7]:
# Create our test query
test_query = """
SELECT subject_id, hadm_id, admittime, dischtime, admission_type, diagnosis
FROM admissions
"""

In [8]:
# Run the query and assign the results to a variable
test = pd.read_sql_query(test_query,conn)
# Display the first few rows
test.head()

,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,DIAGNOSIS
0,40036,198489,2141-08-01 23:46:00,2141-08-09 19:15:00,EMERGENCY,SEPSIS
1,40080,162107,2106-05-31 16:43:00,2106-06-05 01:18:00,EMERGENCY,CONGESTIVE HEART FAILURE
2,40084,195762,2173-01-31 22:11:00,2173-02-05 01:31:00,EMERGENCY,INTRACRANIAL HEMORRHAGE;OPEN FX
3,40116,157106,2150-02-19 00:12:00,2150-03-11 13:58:00,EMERGENCY,GASTROINTESTINAL BLEED
4,40120,146466,2120-01-27 20:41:00,2120-02-12 17:14:00,EMERGENCY,CONGESTIVE HEART FAILURE